@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
  }
}
